.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### Eclipse ###
target/
!*.war

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.mvn

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
!build/
nbbuild/
dist/
nbdist/
.nb-gradle/

web
sh.exe.stackdump
guru-finder-api/.checkstyle
guru-finder-api/mvnw.cmd
.metadata
mintty.exe.stackdump